#header {
    padding: 10px 0px;
    max-width: 100%;
}
#title {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    color: rgb(43, 0, 83)!important;
}

#authors {
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
}
#authors li {
    display: inline-block;
}
#authors li a {
    color: rgba(43, 0, 83, 0.5)!important;
    margin: 10px;
    border-bottom: solid 1px black;
}
#authors li a:hover {
    color: black!important;
    text-decoration: none;
}

#teaser {
    padding-top: 0;
}

section .heading {
    text-align: center;
    font-weight: 300;
}

section .heading span {
    color: rgb(43, 0, 83);
    padding: 0px 10px 2px 10px;
}

section {
    padding: 20px 20px;
    max-width: 820px;
    margin: 0 1%;
    margin: 0 auto;
    font-size: 1.2rem;
}

#abstract .content {
    text-align: justify;
}

pre.inline {
    display: inline;
}

#paper-thumbnail {
    width: 100%;
}

#leaderboards {
    text-align: center;
}

#downloads {
    text-align: center;
}

a {
    border-bottom: solid 1px rgb(43, 0, 83);
    color: rgb(43, 0, 83);
}
a:hover {
    background: rgba(43, 0, 83, 0.1);
    text-decoration: none;
}

#links a {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
}

.infoCard { background: #fff; margin-bottom: 20px;
}

.infoCard .infoBody {
    padding: 30px;
}

.infoCard .infoBody > .infoHeadline {
    margin: 15px 0px;
}

.infoCard .infoBody > .infoHeadline h1,
.infoCard .infoBody > .infoHeadline h2,
.infoCard .infoBody > .infoHeadline p {
    margin: 5px 0px;
    font-weight: 600;
    color: #333;
}

.infoCard .infoBody > .infoHeadline h1 {
    font-size: 1.8em;
}

.infoCard .infoBody > .infoHeadline h2 {
    font-size: 1.4em;
    padding-bottom: 2px;
    border-bottom: 2px solid #ddd;
}

.infoCard .infoBody h2 {
    font-weight: 600;
    color: #666;
    font-size: 1.6em;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
    letter-spacing: 0.005em;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
li,
a,
span,
pre {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
}

p {
    margin: 0px;
}

body {
    background-color: #fff;
}

.performanceTable {
  margin: 10px 0px;
}
.performanceTable .institution {
  font-style: italic;
  font-weight: 300;
}
.performanceTable .date {
  font-weight: normal;
}
.performanceTable tr.human-row {
  background: #f5f5f5;
}
.performanceTable td.best-score {
  font-weight: bold;
}
.performanceTable td,
.performanceTable th {
  text-align: center;
  max-width: 250px;
}

